
<div class="row">
    <div class="col-xs-12 col-md-6">
        <h3>Guthaben</h3>
        <p class="btn btn-default btn-block disabled" style="cursor:default;" id="balance">{{walletBalance?.balance}} <span class="glyphicon glyphicon-bitcoin" aria-hidden="true"></span></p>

        <h3>Transaktion empfangen</h3>
        <form>
            <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Neue Adresse" [value]="actualAddress.key">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" (click)="generateAddress()">Neue Adresse</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-6">
        <h3>Transaktion senden</h3>
        <form>
            <div class="form-group">
                <label class="sr-only" for="address">Adresse</label>
                <input type="text" class="form-control" id="address" [value]="transaction.address" (input)="transaction.address = $event.target.value" placeholder="Adresse">
            </div>
            <div class="form-group input-group">
                <label class="sr-only" for="amount">Betrag</label>
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" id="amount" [value]="transaction.amount" (input)="transaction.amount = $event.target.value" placeholder="Betrag (00.00)">
            </div>
            <div class="form-group">
                <label class="sr-only" for="message">Nachricht</label>
                <textarea class="form-control" ref-textarea id="message" (input)="transaction.message = $event.target.value" [value]="transaction.message" rows="4" placeholder="Nachricht"></textarea>
                <p class="help-block text-danger">{{transactionError}}</p>
            </div>
            <button type="button" class="btn btn-success" (click)="addTransaction()">Senden</button>
        </form>
    </div>
</div>


<h3>Transaktionsverlauf</h3>
<table class='table table-responsive' *ngIf="transactions">
    <thead>
        <tr>
            <th>I/O</th>
            <th>Inputs</th>
            <th>Nachricht</th>
            <th>Block</th>
            <th>Outputs</th>
            <th>Betrag</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td><span *ngIf="transaction.isIncome === false" class="glyphicon glyphicon-export text-danger" aria-hidden="true"></span><span *ngIf="transaction.isIncome == true" class="glyphicon glyphicon-import text-success" aria-hidden="true"></span> </td>
            <td><ul><li *ngFor="let input of transaction.inputs; index as i; trackBy: trackByFn"><span class="text-danger" title="{{input.amount}}">{{input.key}}</span></li></ul></td>
            <td>{{ transaction.message}}</td>
            <td>{{ transaction.blockHeight }}</td>
            <td><ul><li *ngFor="let output of transaction.outputs; index as i; trackBy: trackByFn"><span class="text-success" title="{{output.amount}}">{{output.key}}</span></li></ul></td>
            <td>{{ transaction.amount}}</td>
        </tr>
    </tbody>
</table>