<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Infos</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge">10'000</span>
                        Anzahl Blöcke:
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">Miner</div>
            <div class="panel-body">
                <h4>Miner Status</h4>
                <button type="button" class="btn btn-success">Aktiv</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Blöcke</div>
            <div class="panel-body panel-body-scrollable" infinite-scroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScrollBlocks()">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Höhe</th>
                            <th>Schwierigkeit</th>
                            <th>Zeitstempel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let block of loadedBlocks">
                            <td>
                                {{ block.height }}
                            </td>
                            <td>
                                {{ block.difficulty | number:'.1-5' }}
                            </td>
                            <td>
                                {{ block.timeStamp | date:'dd.MM.yyyy HH:mm' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="loader" *ngIf="lastLoadedBlock > 1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Transaktionen</div>
            <div class="panel-body panel-body-scrollable" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollTransactions()">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Empfänger</th>
                            <th>Menge</th>
                            <th>Zeitstempel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of range">
                            <td>
                                x1132432fdsghv34t32r23432432423
                            </td>
                            <td>
                                {{ i }}
                            </td>
                            <td>
                                04.05.2018 13:46
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
