<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-heading primary-color white-text">Allgemeine Infos</h3>
                <ul class="list-group" *ngIf="generalInfo">
                    <li class="list-group-item">
                        <span class="badge">{{ generalInfo[0] }}</span>
                        Anzahl Blöcke:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ generalInfo[1] }}</span>
                        Anzahl Transaktionen:
                    </li>
                    <li class="list-group-item">
                        <span class="badge">{{ generalInfo[2] }}</span>
                        Letzte Transaktion:
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-heading primary-color white-text">Mining Status</h3>
                <button type="button" class="btn btn-block" [class.btn-danger]="!minerState" [class.btn-success]="minerState" (click)="toggleMiner()"><span *ngIf="minerState">Aktiv</span><span *ngIf="!minerState">Inaktiv</span></button>
                <blockquote style="margin-top:10px" class="bg-success" *ngIf="actualInformation !== undefined && actualInformation.length > 3">
                    <p class="text-info text-uppercase" *ngFor="let info of actualInformation">{{ info }}</p>
                </blockquote>   
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Blöcke</div>
            <div class="panel-body panel-body-scrollable" infinite-scroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50" [scrollWindow]="false" (scrolled)="onScrollBlocks()">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Höhe</th>
                            <th>Schwierigkeit</th>
                            <th>Zeitstempel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let block of loadedBlocks">
                            <td>
                                {{ block.height }}
                            </td>
                            <td>
                                {{ block.difficulty | number:'.1-5' }}
                            </td>
                            <td>
                                {{ block.timeStamp | date:'dd.MM.yyyy HH:mm' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="loader" *ngIf="lastLoadedBlock > 1"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Transaktionen</div>
            <div class="panel-body panel-body-scrollable" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="onScrollTransactions()">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Empfänger</th>
                            <th>Menge</th>
                            <th>Typ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of loadedTransactions">
                            <td>
                                {{ transaction.id }}
                            </td>
                            <td>
                                <span title="{{ transaction.receiver }}">{{ transaction.receiver | slice:0:15 }}...</span> 
                            </td>
                            <td>
                                {{ transaction.amount }}
                            </td>
                            <td>
                                <span *ngIf="!transaction.isCoinBase" class="glyphicon glyphicon-transfer text-danger" aria-hidden="true"></span>
                                <span *ngIf="transaction.isCoinBase" class="glyphicon glyphicon-bitcoin text-success" aria-hidden="true"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
